<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:property="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://cxf.apache.org/jaxws
		http://cxf.apache.org/schemas/jaxws.xsd">

    <import resource="classpath*:/com/antazri/service/spring/applicationContext-service.xml" />

    <!-- =============================================================== -->
    <!-- Configuration des beans -->
    <!-- =============================================================== -->
    <!-- ===== CONTROLLER ===== -->
    <bean id="homeController" class="com.antazri.controller.HomeController" />
    <bean id="authController" class="com.antazri.controller.AuthController" />
    <bean id="authorController" class="com.antazri.controller.AuthorController" />
    <bean id="bookController" class="com.antazri.controller.BookController" />
    <bean id="categoryController" class="com.antazri.controller.CategoryController" />

</beans>